.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}